<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap" rel="stylesheet">
    <title>Game</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'guess/style.css' %}">

<nav>
    <a class="game-detail" href="{% url 'guess:index' %}">←</a>
</nav>

<h1 class="centered-text">{{ game.last_played_date }}</h1>

<form action="{% url 'guess:new_guess' game.id %}" method="post">
    {% csrf_token %}
    {#    <label for="num_guessed">Guess an integral number between 0 and 100:</label>#}
    <div class="input-container">
        <input type="number" name="num_guessed" id="num_guessed" min="0" max="100" placeholder="guess"
               class="game-detail box">
    </div>
</form>

<p class="centered-text"> {{ guess_feedback }} </p>

<ul>

    {% for num_guessed in game.ordered_guess_set %}
        <li class="game-detail box">{{ num_guessed.number }}</li>
    {% endfor %}
</ul>
</body>
</html>