<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess the number!</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'guess/style.css' %}">

<form action="{% url 'guess:new_game' %}" method="post">
    {% csrf_token %}
    <button
            type="submit"
            name="new_game_btn">New Game
    </button>
</form>
{% if games %}
    <ul>
        {% for game in games %}
            <li><a href="{% url 'guess:detail' game.id %}">{{ game.last_played_date }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No games available yet. Start playing!</p>
{% endif %}
</body>
</html>